*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html
{
    scroll-behavior: smooth;
}
body
{
    overflow-x: hidden;
}
:root
{
    --black:black;
    --bg:hsl(0,0%,5%);
    --bg-light:hsl(0,0%,10%);
    --secondary:hsl(22, 100%, 50%);
    --red:red;
    --primary:#00A3FF;
    --primary-light:hsla(202, 86%, 37%, 0.527);
}
.container
{
    width: 100vw;
    height: 100vh;
    background-color: var(--bg);
    /* overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth; */
}
/* .home-main,.about-main
{
    scroll-snap-align: start;
} */
.nav-bar
{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    background-color: var(--bg-light);
    color: var(--secondary);
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.logo-cont
{
    width: 20%;
    font-size: 2.5rem;
    margin-left: 5%;
    color:var(--primary);
    font-family: "Roboto", sans-serif;
    font-weight: 450;
}
.nav-ele
{
    display: flex;
    justify-content: space-between;
    width: 40%;
    font-size: 1.4rem;
    margin-right: 2%;
    font-family: "Crimson Pro", serif;
}
.nav-ele > *
{
    cursor: pointer;
}
.home
{
    color: var(--primary);
}
.home-main
{
    margin-top: 10vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.home-ele
{
    height: 90%;
    display: flex;
}
.home-ele-1
{
    width: 50%;
    height: 100%;
    display: flex;
    margin-left: 5%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: white;
    gap: 1.9rem;
}
.img-1-cont
{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-1
{
    background-size: cover;
    width: 60%;
    height: 60%;
    border-radius: 50%;
    animation: blink 4s ease-in infinite;
}
@keyframes blink {
    0%
    {
        opacity: 1;
    }
    80%
    {
        opacity: 0.7;
    }
    100%
    {
        opacity: 1;
    }
}
.home-tit
{
    font-size: 2.3rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}
.name
{
    color: var(--primary);
}
.role
{
    font-size: 1.7rem;
    font-family: "Crimson Pro", serif;
    font-weight: 300;
    color: var(--secondary);
}
.role-dis
{
    font-size: 1rem;
    width: 80%;
    font-family: "Crimson Pro", serif;
}
.home-butt
{
    width: 40%;
    display: flex;
    justify-content: space-between;
    color: var(--black);
    align-self: flex-start;
}
.hire,.talk,.submit
{
    padding: 8px 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-weight: 800;
    font-family: "Crimson Pro", serif;
    cursor: pointer;
    position: relative;
    z-index: 10;
    overflow: hidden;
    transition-delay: 0.5s;
    transition: 0.5s;
}
.hire:hover,.talk:hover,.submit:hover
{
    box-shadow: 0px 0px 25px var(--primary);
    color: black;
    
}
.hire::before,.talk::before,.submit::before
{
    content: "";
    position: absolute;
    border-radius: 10px;
    left: -20%;
    top: 0;
    width: 0%;
    height: 100%;
    background-color: var(--primary);    
    transition: 0.6s;
    z-index: -1;
    
}
.hire:hover::before,.talk:hover::before,.submit:hover::before
{
    width: 150%;
    transform-origin: left;
}
.social
{
    display: flex;
    width: 20%;
    justify-content: space-between;
    color: white;
    font-size: 1.2rem;
    margin-top: 2rem;
    font-weight: 800;
    position: absolute;
    bottom: 2%;
}
.social > *,.about-read-more
{
    cursor: pointer;
    position: relative;
    z-index: 10;
    width: fit-content;
    overflow: hidden;
    border: 2px solid var(--primary);
    border-radius: 50%;
    padding: 10px 10px 10px 10px;
    transition: 0.3s;
    transition-delay: 0.1s;
}
.social>*:hover,.about-read-more:hover
{
    color: var(--black);
    box-shadow: 0px 0px 25px var(--primary);
}
.social >*::before,.about-read-more::before
{
    position: absolute;
    content: "";
    left: -10%;
    top: 0;
    width: 0%;
    height: 100%;
    background-color: var(--primary);
    z-index: -1;
    transition: 0.5s;
}
.social >*:hover::before,.about-read-more:hover::before
{
    width: 150%;
}
.about-main
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg);
    color: white;
    padding-top: 10vh;
    justify-content: space-around;
    font-family: "Crimson Pro", serif;
}
.about-tit
{
    font-size: 2.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}
.img-2-cont
{
    width: 17%;
    height: 35%;
    /* border: 2px solid var(--primary); */
    /* border-top: 2px solid red;
    border-bottom: 2px solid red;
    border-left: 2px solid var(--primary);
    border-right: 2px solid var(--primary);
    border-radius: 50%;
    padding: 10px; */
}
.image-2
{
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: 2px solid var(--primary);
    border-left: 2px solid var(--red);
    border-right: 2px solid var(--red);
    border-bottom: 2px solid var(--primary);
    padding: 10px;
    animation: color-change 2s  ease-in infinite;
}
@keyframes color-change {
    0%
    {
        border-top: 2px solid var(--primary);
        border-left: 2px solid var(--red);
        border-right: 2px solid var(--red);
        border-bottom: 2px solid var(--primary);
    }
    50%
    {
        border-top: 2px solid var(--red);
        border-left: 2px solid var(--primary);
        border-right: 2px solid var(--primary);
        border-bottom: 2px solid var(--red);
    }
    90%
    {
        border-top: 2px solid var(--primary);
        border-left: 2px solid var(--red);
        border-right: 2px solid var(--red);
        border-bottom: 2px solid var(--primary);
    }
}
.about-role
{
    font-size: 2rem;
    color: var(--secondary);
    font-weight: 500;
}
.about-role-dis
{
    width: 60%;
    font-size: 1.2rem;
}
.about-read-more
{
    border-radius: 10px;
    border: none;
    font-weight: 800;
    font-family: "Crimson Pro", serif;
}
.education-main
{
    padding-top: 10vh;
    height: 100vh;
    background-color: var(--bg);
    color: white;
    display: flex;
    flex-wrap: wrap;
    font-family: "Crimson Pro", serif;
    justify-content: space-around;
}
.journey
{
    /* display: block; */
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    font-family: "Roboto", sans-serif;
}
.education-sub-1
{
    width: 40%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.edu-1
{
    border: 2px solid var(--primary);
    border-radius: 10px;
    height: 25%;
    padding: 10px;
}
.edu-tit
{
    font-size: 2rem;
    font-weight: 400;
    color: var(--secondary);
}
.edu-1-year
{
    color: var(--primary);
}
.edu-1-tit
{
    font-size: 1.5rem;
}
.contact-main
{
    height: 100vh;
    padding-top: 10vh;
    background-color: var(--bg);
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    font-family: "Crimson Pro", serif;
}
.contact-tit
{
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    font-family: "Roboto", sans-serif;
}
.contact-cont
{
    height: 70%;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contact-name,.submit,.up
{
    position: relative;
    outline: none;
    border: none;
    border: 2px solid var(--primary);
    background-color: var(--bg-light);
    color: white;
    padding: 3px 8px;
    border-radius: 5px;
    width: 45%;
    height: 10%;
    font-family: "Crimson Pro", serif;
}
.text-area
{
    padding: 10px 20px;
    height: 40%;
    width: 95%;
    resize: none;
}
.submit,.up
{
    width: 20%;
    cursor: pointer;
    position: relative;
    font-weight: 600;
    font-size: 0.9rem;
}
.up
{
    width: fit-content;
}
